/* Aula 05 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    color: #fff;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --fundoCinzaEscuro: #282828;
    --fundoCinzaMedio: #343434;
    --fundoCinzaClaro: #404040;
    --rosaDigital: #c61067;
}

@media (min-width: 1025px) {
    html {
        font-size: 62.5%;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background-color: var(--fundoCinzaEscuro);
        padding: 1.6rem 10rem;
    }

    header {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    header .logo img {
        height: 5rem;
        display: block;
    }

    header .busca {
        width: 50rem;
        position: relative;
    }

    header .busca input {
        width: 100%;
        height: 5rem;
        background-color: var(--fundoCinzaMedio);
        border-radius: .8rem;
        padding-left: 1.6rem;
        border: .3rem solid var(--fundoCinzaClaro);
        transition: all 300ms;
        font-size: 1.2em;
    }

    header .busca input:focus {
        border-color: var(--rosaDigital);
    }

    header .busca label box-icon {
        position: absolute;
        width: 4rem;
        height: 4rem;
        padding: .8rem;
        top: .6rem;
        right: 0;
        fill: #fff;
        cursor: pointer;
        transition: all 300ms;
    }

    header .busca label box-icon:hover {
        fill: var(--rosaDigital);
    } 

    #equipes {
        margin-top: 6rem;
    }

    #equipes h3 {
        display: flex;
        justify-content: space-between;
    }

    #equipes h3 button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: 1rem 1.6rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }

    #equipes h3 button box-icon {
        fill: #fff;
        cursor: pointer;
    }

    #equipes h3 button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul {
        margin-top: 2.6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    #equipes ul li {
        width: calc(25% - 1.2rem);
        background-color: var(--fundoCinzaMedio);
        padding: 1.6rem;
        border-radius: .8rem;
    }

    #equipes ul li h4 {
        opacity: .7;
    }

    #equipes ul li div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6rem;
    }

    #equipes ul li div h2 {
        opacity: .3;
        font-size: 5rem;
        font-weight: normal;
    }

    #equipes ul li div button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: .2rem 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }


    #equipes ul li div button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul li div button box-icon {
        fill: #fff;
        cursor: pointer;
    }
}

@media (min-width: 886px) and (max-width: 1024px) {
    html {
        font-size: 52.5%;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background-color: var(--fundoCinzaEscuro);
        padding: 1.6rem 10rem;
    }

    header {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    header .logo img {
        height: 5rem;
        display: block;
    }

    header .busca {
        width: 50rem;
        position: relative;
    }

    header .busca input {
        width: 100%;
        height: 5rem;
        background-color: var(--fundoCinzaMedio);
        border-radius: .8rem;
        padding-left: 1.6rem;
        border: .3rem solid var(--fundoCinzaClaro);
        transition: all 300ms;
        font-size: 1.2em;
    }

    header .busca input:focus {
        border-color: var(--rosaDigital);
    }

    header .busca label box-icon {
        position: absolute;
        width: 4rem;
        height: 4rem;
        padding: .8rem;
        top: .6rem;
        right: 0;
        fill: #fff;
        cursor: pointer;
        transition: all 300ms;
    }

    header .busca label box-icon:hover {
        fill: var(--rosaDigital);
    } 

    #equipes {
        margin-top: 6rem;
    }

    #equipes h3 {
        display: flex;
        justify-content: space-between;
    }

    #equipes h3 button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: 1rem 1.6rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }

    #equipes h3 button box-icon {
        fill: #fff;
        cursor: pointer;
    }

    #equipes h3 button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul {
        margin-top: 2.6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    #equipes ul li {
        width: calc(25% - 1.2rem);
        background-color: var(--fundoCinzaMedio);
        padding: 1.6rem;
        border-radius: .8rem;
    }

    #equipes ul li h4 {
        opacity: .7;
    }

    #equipes ul li div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6rem;
    }

    #equipes ul li div h2 {
        opacity: .3;
        font-size: 5rem;
        font-weight: normal;
    }

    #equipes ul li div button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: .2rem 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }


    #equipes ul li div button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul li div button box-icon {
        fill: #fff;
        cursor: pointer;
    }
}

@media (min-width: 700px) and (max-width: 885px) {
    html {
        font-size: 40.8%;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background-color: var(--fundoCinzaEscuro);
        padding: 1.6rem 10rem;
    }

    header {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    header .logo img {
        height: 5rem;
        display: block;
    }

    header .busca {
        width: 50rem;
        position: relative;
    }

    header .busca input {
        width: 100%;
        height: 5rem;
        background-color: var(--fundoCinzaMedio);
        border-radius: .8rem;
        padding-left: 1.6rem;
        border: .3rem solid var(--fundoCinzaClaro);
        transition: all 300ms;
        font-size: 1.2em;
    }

    header .busca input:focus {
        border-color: var(--rosaDigital);
    }

    header .busca label box-icon {
        position: absolute;
        width: 4rem;
        height: 4rem;
        padding: .8rem;
        top: .6rem;
        right: 0;
        fill: #fff;
        cursor: pointer;
        transition: all 300ms;
    }

    header .busca label box-icon:hover {
        fill: var(--rosaDigital);
    } 

    #equipes {
        margin-top: 6rem;
    }

    #equipes h3 {
        display: flex;
        justify-content: space-between;
    }

    #equipes h3 button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: 1rem 1.6rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }

    #equipes h3 button box-icon {
        fill: #fff;
        cursor: pointer;
    }

    #equipes h3 button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul {
        margin-top: 2.6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    #equipes ul li {
        width: calc(25% - 1.2rem);
        background-color: var(--fundoCinzaMedio);
        padding: 1.6rem;
        border-radius: .8rem;
    }

    #equipes ul li h4 {
        opacity: .7;
    }

    #equipes ul li div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6rem;
    }

    #equipes ul li div h2 {
        opacity: .3;
        font-size: 5rem;
        font-weight: normal;
    }

    #equipes ul li div button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: .2rem 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }


    #equipes ul li div button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul li div button box-icon {
        fill: #fff;
        cursor: pointer;
    }
}

@media (min-width: 500px) and (max-width: 701px) {
    html {
        font-size: 25%;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background-color: var(--fundoCinzaEscuro);
        padding: 1.6rem 10rem;
    }

    header {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    header .logo img {
        height: 5rem;
        display: block;
    }

    header .busca {
        width: 50rem;
        position: relative;
    }

    header .busca input {
        width: 100%;
        height: 5rem;
        background-color: var(--fundoCinzaMedio);
        border-radius: .8rem;
        padding-left: 1.6rem;
        border: .3rem solid var(--fundoCinzaClaro);
        transition: all 300ms;
        font-size: 1.2em;
    }

    header .busca input:focus {
        border-color: var(--rosaDigital);
    }

    header .busca label box-icon {
        position: absolute;
        width: 4rem;
        height: 4rem;
        padding: .8rem;
        top: -0.9rem;
        right: 0;
        fill: #fff;
        cursor: pointer;
        transition: all 300ms;
    }

    header .busca label box-icon:hover {
        fill: var(--rosaDigital);
    } 

    #equipes {
        margin-top: 6rem;
    }

    #equipes h3 {
        display: flex;
        justify-content: space-between;
    }

    #equipes h3 button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: 1rem 1.6rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }

    #equipes h3 button box-icon {
        fill: #fff;
        cursor: pointer;
    }

    #equipes h3 button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul {
        margin-top: 2.6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    #equipes ul li {
        width: calc(25% - 1.2rem);
        background-color: var(--fundoCinzaMedio);
        padding: 1.6rem;
        border-radius: .8rem;
    }

    #equipes ul li h4 {
        opacity: .7;
    }

    #equipes ul li div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6rem;
    }

    #equipes ul li div h2 {
        opacity: .3;
        font-size: 5rem;
        font-weight: normal;
    }

    #equipes ul li div button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: .2rem 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }


    #equipes ul li div button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul li div button box-icon {
        fill: #fff;
        cursor: pointer;
    }
}

@media (min-width: 425px) and (max-width: 501px) {
    html {
        font-size: 23%;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background-color: var(--fundoCinzaEscuro);
        padding: 1.6rem 10rem;
    }

    header {
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    header .logo img {
        height: 5rem;
        display: block;
    }

    header .busca {
        width: 50rem;
        position: relative;
    }

    header .busca input {
        width: 100%;
        height: 5rem;
        background-color: var(--fundoCinzaMedio);
        border-radius: .8rem;
        padding-left: 1.6rem;
        border: .3rem solid var(--fundoCinzaClaro);
        transition: all 300ms;
        font-size: 1.2em;
    }

    header .busca input:focus {
        border-color: var(--rosaDigital);
    }

    header .busca label box-icon {
        position: absolute;
        width: 4rem;
        height: 4rem;
        padding: .8rem;
        top: -1.2rem;
        right: 0;
        fill: #fff;
        cursor: pointer;
        transition: all 300ms;
    }

    header .busca label box-icon:hover {
        fill: var(--rosaDigital);
    } 

    #equipes {
        margin-top: 6rem;
    }

    #equipes h3 {
        display: flex;
        justify-content: space-between;
    }

    #equipes h3 button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: 1rem 1.6rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }

    #equipes h3 button box-icon {
        fill: #fff;
        cursor: pointer;
    }

    #equipes h3 button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul {
        margin-top: 2.6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    #equipes ul li {
        width: calc(25% - 1.2rem);
        background-color: var(--fundoCinzaMedio);
        padding: 1.6rem;
        border-radius: .8rem;
    }

    #equipes ul li h4 {
        opacity: .7;
    }

    #equipes ul li div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6rem;
    }

    #equipes ul li div h2 {
        opacity: .3;
        font-size: 5rem;
        font-weight: normal;
    }

    #equipes ul li div button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: .2rem 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }


    #equipes ul li div button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul li div button box-icon {
        fill: #fff;
        cursor: pointer;
    }
}

@media (max-width: 426px) {
    html {
        font-size: 62.5%;
    }
    
    body {
        width: 100%;
        height: 100vh;
        background-color: var(--fundoCinzaEscuro);
        padding: 1.8rem 2rem;
    }

    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    header .logo img {
        height: 5rem;
        display: block;
    }

    header .busca {
        /* No projeto não aparecia */
        display: none;
        width: 50rem;
        position: relative;
    }

    header .busca input {
        width: 100%;
        height: 5rem;
        background-color: var(--fundoCinzaMedio);
        border-radius: .8rem;
        padding-left: 1.6rem;
        border: .3rem solid var(--fundoCinzaClaro);
        transition: all 300ms;
        font-size: 1.2em;
    }

    header .busca input:focus {
        border-color: var(--rosaDigital);
    }

    header .busca label box-icon {
        position: absolute;
        width: 4rem;
        height: 4rem;
        padding: .8rem;
        top: .6rem;
        right: 0;
        fill: #fff;
        cursor: pointer;
        transition: all 300ms;
    }

    header .busca label box-icon:hover {
        fill: var(--rosaDigital);
    } 

    #equipes {
        margin-top: 5rem;
        position: relative;
        padding-bottom: 3rem;
    }

    #equipes h3 {
        display: flex;
    }

    #equipes h3 button {
        display: flex;
        align-items: center;
        gap: 1rem;
        visibility: hidden;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: 1rem 1.6rem;
        text-transform: uppercase;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    #equipes h3 button box-icon {
        fill: #fff;
        cursor: pointer;
        visibility: visible;
        position: absolute;
        width: 3.5rem;
        height: 3.5rem;
        bottom: -2rem;
        right: 0;
        border: .2rem solid var(--rosaDigital);
        border-radius: 50%;
    }

    #equipes h3 button box-icon:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul {
        margin-top: 2.6rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    #equipes ul li {
        width: 100%;
        background-color: var(--fundoCinzaMedio);
        padding: 1.6rem;
        border-radius: .8rem;
    }

    #equipes ul li h4 {
        opacity: .7;
    }

    #equipes ul li div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.6rem;
    }

    #equipes ul li div h2 {
        opacity: .3;
        font-size: 5rem;
        font-weight: normal;
    }

    #equipes ul li div button {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: transparent;
        border-radius: .5rem;
        border: .2rem solid var(--rosaDigital);
        padding: .2rem 1rem;
        text-transform: uppercase;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        font-weight: bold;
        transition: all 300ms;
        cursor: pointer;
    }


    #equipes ul li div button:hover {
        background-color: var(--rosaDigital);
    }

    #equipes ul li div button box-icon {
        fill: #fff;
        cursor: pointer;
    }
}