.imagem {
    width: 100%;
    height: 100%;
    padding: .5rem;
}

.galeria__imagem--pequena-1 {
    grid-area: 1 / 1 / 2 / 2;
}
.galeria__imagem--pequena-2 {
    grid-area: 1 / 6 / 2 / 7;
}
.galeria__imagem--pequena-3 {
    grid-area: 2 / 3 / 3 / 4;
}
.galeria__imagem--pequena-4 {
    grid-area: 2 / 6 / 3 / 7;
}
.galeria__imagem--pequena-5 {
    grid-area: 3 / 4 / 4 / 5;
}
.galeria__imagem--pequena-6 {
    grid-area: 3 / 5 / 4 / 6;
}
.galeria__imagem--pequena-7 {
    grid-area: 4 / 1 / 5 / 2;
}
.galeria__imagem--pequena-8 {
    grid-area: 4 / 2 / 5 / 3;
}

.galeria__imagem--mediaVertical-1 {
    grid-area: 3 / 3 / 5 / 4;
}

.galeria__imagem--mediaVertical-2 {
    grid-area: 3 / 6 / 5 / 7;
}

.galeria__imagem--mediaHorizontal-1 {
    grid-area: 1 / 2 / 2 / 4;
}

.galeria__imagem--mediaHorizontal-2 {
    grid-area: 4 / 4 / 5 / 6;
}

.galeria__imagem--larga-1 {
    grid-area: 2 / 1 / 4 / 3;
    height: 100%;
}

.galeria__imagem--larga-2 {
    grid-area: 1 / 4 / 3 / 6;
}