// MEDIA QUERIES
$ssm: 400px;
$sm: 510px;

// BASE
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: inherit;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;

    @media only screen and (max-width: $sm) {
        font-size: 50%;
    }

    @media only screen and (max-width: $ssm) {
        font-size: 35%;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    background-color: var(--color-background);
}