.main {
    width: 50rem;
    height: 44.2rem;
    border-radius: 1rem;
    padding: var(--font-sm);
    background-color: var(--color-white);
    box-shadow: var(--shadow-1);

    @extend .flex;

    &__section {

        &--1 {
            display: flex;
        }

        &--2 {
            @extend .flex;
            align-items: center;
            text-align: center;
        }
    }

    &__img {
        margin-left: -2rem;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 3.6rem;
    }

    &__input {
        margin-top: 3.6rem;
        margin-bottom: 2.6rem;

        height: 5rem;
        width: 5.5rem;
        outline: 2px solid var(--color-secondary);
        font-size: var(--font-lg);
        text-align: center;

        border-radius: .5rem;

        &:hover,
        &:focus {
            transform: scale(1.08) translateY(-.2rem);
            box-shadow: var(--shadow-2);
        }

        &:active {
            transform: scale(1.05) translateY(-.1rem);
        } 
    }

    &__arrow {
        width: 5rem;
        height: 6rem;
        fill: var(--color-primary-dark);
        transition: all .4s;

        &--active {
            transform: scale(1.03);
            box-shadow: var(--shadow-2);
            fill: var(--color-primary);
            border-radius: 100rem;
        }
    }

    &__textLoser,
    &__textChamp {
        margin-top: 3.6rem;
        margin-bottom: 1rem;
    }

    
}

.flex {
    display: flex;
    flex-direction: column;
}