// COLORS
:root {
    --color-white: #fff;
    --color-black: #000;

    --color-primary: #FFB431;
    --color-primary-dark: #d2bd97;
    --color-secondary: #DE5540;
    --color-background: #DEDEDE;

    --shadow-1: 0px 5px 20px 0px #00000026;
    --shadow-2: 0px 8px 18px 0px #00000040;

    --font-xl: 4.8rem;
    --font-lg: 2.6rem;
    --font-md: 1.8rem;
    --font-sm: 1.6rem;
}