body {
    background-color: #f2f6ff;
}

.darkmode__btn {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    position: fixed;
    top: 1.6rem;
    right: 1.6rem;
    cursor: pointer;
    background-color: #edf0fd;
    padding: .5rem;
    border-radius: 100rem;
    transform: scale(1);
    box-shadow: 0 .4rem 1rem #00000060;
    transition: all .2s;

    &:hover,
    &:focus {
        transform: scale(1.1);
        box-shadow: 0 .6rem 1.2rem #00000080;
    }
    
    & .darkmode__icon {
        width: 100%;
        transition: all .2s;

        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }
}