:root {
    --cor-primaria: #C61067;
    --cor-primaria-escura: #940c4e;
    --cor-primaria-clara: #f0147e;

    --cor-cinza-clara: #282525;
    --cor-cinza-clara-media: #1b1919;
    --cor-cinza-media: #111010;
    --cor-cinza-escura: #070707;

    --cor-branca: #fff;

    --cor-cinza-media-opacidade-1: #111010f8;

    --sombra-1: #00000090;
}