.navbar__list {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar__link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #f6f5ff;
    transition: all .2s;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: .2rem solid #1c1c1e;

    &:hover,
    &:focus {
        color: #f9f9ff;
        text-shadow: 0 .8rem 1.2rem #00000090;
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(-1.5px);
    }
}