.header {
    background-image: linear-gradient(90deg,
                                    #00000065,
                                    #00000065),
                                    url(../images/DuckBanner.jpg);
    background-size: cover;
    background-position: center center;
    grid-area: 1 / 2 / 2 / -1;

    position: relative;
}