.navbar {
    grid-area: 1 / 1 / -1 / 2;
    background-color: #24292b;
    display: flex;
    align-items: start;
    flex-direction: column;
    box-shadow: 0 1.5rem 2rem #00000090;
    position: relative;
    z-index: 100;
}