@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

section {
  background-color: var(--cor-cinza-clara-media);
}

#slide1 {
  background-image: linear-gradient(80deg, var(--cor-cinza-media-opacidade-1) 70%, transparent 70%), url(../images/banner.webp);
}

#slide2 {
  overflow: hidden;
}
#slide2__conteudo {
  background-color: var(--cor-primaria-escura);
  margin-right: -40px;
}
#slide2__conteudo .slide2__item::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/SVG/chevron-thin-right.svg);
  background-size: cover;
}
@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  #slide2__conteudo .slide2__item::before {
    background-color: var(--cor-primaria-clara);
    -webkit-mask-image: url(../images/SVG/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../images/SVG/chevron-thin-right.svg);
    mask-size: cover;
    background-image: none;
  }
}

#slide3 .slide3__item {
  background-color: var(--cor-primaria-escura);
}

#slide4__input-text {
  resize: none;
  color: var(--cor-branca);
  background-color: var(--cor-cinza-clara);
}
#slide4__input-text:focus, #slide4__input-text:active {
  outline: none;
}
#slide4__input-text::placeholder {
  color: var(--cor-cinza-muito-clara);
  text-align: center;
}
#slide4__output p {
  color: var(--cor-branca);
  background-color: var(--cor-cinza-clara);
}

#slide5 .slide5__item {
  background-color: var(--cor-cinza-clara);
  transition: all 0.2s;
}
#slide5 .slide5__item:hover {
  transform: scale(1.08) translateY(-5px);
  background-color: var(--cor-primaria-clara);
  box-shadow: 0 10px 15px var(--sombra-1);
}
#slide5 .slide5__item:active {
  transform: scale(1.06) translateY(-3px);
  box-shadow: 0 6px 20px var(--sombra-1);
}
#slide5 .slide5__svg {
  fill: var(--cor-cinza-muito-clara);
  transition: all 0.2s;
}
#slide5 .slide5__svg:hover {
  position: relative;
  transform: scale(1.2);
  fill: var(--cor-primaria-clara);
  animation: pulsarForte 0.8s infinite;
}

:root {
  --cor-primaria: #C61067;
  --cor-primaria-escura: #940c4e;
  --cor-primaria-clara: #f0147e;
  --cor-cinza-muito-clara: #403c3c;
  --cor-cinza-clara: #282525;
  --cor-cinza-clara-media: #1b1919;
  --cor-cinza-media: #111010;
  --cor-cinza-escura: #070707;
  --cor-branca: #fff;
  --cor-preta: #000;
  --cor-cinza-media-opacidade-1: #111010f8;
  --sombra-1: #00000090;
}

@keyframes pulsarForte {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.btn {
  color: var(--cor-primaria-clara);
  border-color: var(--cor-primaria-clara);
  transition: all 0.1s;
}
.btn:hover {
  color: var(--cor-branca);
  background-color: var(--cor-primaria-clara);
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 10px 15px var(--sombra-1);
}
.btn:active {
  transform: translateY(-2px) scale(1);
}

.btn2 {
  color: var(--cor-branca);
  background-color: var(--cor-primaria);
  transition: all 0.1s;
}
.btn2:hover {
  color: var(--cor-branca);
  background-color: var(--cor-primaria-clara);
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 10px 15px var(--sombra-1);
}
.btn2:active {
  transform: translateY(-2px) scale(1);
}

.btn3 {
  color: var(--cor-branca);
  background-color: var(--cor-primaria-escura);
  transition: all 0.2s;
}
.btn3:hover {
  color: var(--cor-branca);
  background-color: var(--cor-primaria);
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 10px 15px var(--sombra-1);
}
.btn3:active {
  transform: translateY(-1px) scale(1);
}

/*# sourceMappingURL=output.css.map */
