* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#slide1 {
    background-image:linear-gradient(80deg,
                                     var(--cor-cinza-media-opacidade-1) 70%,
                                     transparent 70%),
                                     url(../images/banner.webp);
}

#slide2 {
    background-color: var(--cor-cinza-clara-media);
    overflow: hidden;

    &__conteudo {
        background-color: var(--cor-primaria-escura);
        margin-right: -40px;

        & .slide2__item::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
    
            background-image: url(../images/SVG/chevron-thin-right.svg);
            background-size: cover;
    
            @supports(-webkit-mask-image: url()) or (mask-image: url()){
                background-color: var(--cor-primaria-clara);
                -webkit-mask-image: url(../images/SVG/chevron-thin-right.svg);
                -webkit-mask-size: cover;
                mask-image: url(../images/SVG/chevron-thin-right.svg);
                mask-size: cover;
    
                background-image: none;
            } 
        }
    }
}