.header__heading {
    font-size: 5.5rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    color: #f4f6ffcd;
    text-shadow: 0 .5rem .7rem #00000080;

    position: absolute;
    top: 6rem;
    left: 6rem;
}